* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  background-color: #fff;
  color: #333;
}


.hero {
  background-image: url('pexels-leon-ardho-1552242.jpg');
  background-position: center;
  background-size: cover;
  color: #fff;
  text-align: center;
  padding: 100px 20px;
}

.hero h1 {
  font-size: 4rem;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.5rem;
  margin-bottom: 40px;
}

.hero a {
  display: inline-block;
  background-color: #fff;
  color: #222;
  padding: 10px 20px;
  border-radius: 25px;
  text-decoration: none;
  font-size: 1.2rem;
}

.services {
  margin: 100px 0;
  text-align: center;
}

.services h2 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.services ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.services li {
  flex-basis: 30%;
  text-align: left;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.services img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.services h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.services p {
  font-size: 1.2rem
}
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}
